/* =====================================================
   FOOTER.CSS
   Estilos del pie de página.
   ===================================================== */

footer {
    background-color: var(--color-principal);
    color: white;
    text-align: center;
    padding: 2rem;
    margin-top: auto;
}

footer a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

footer a:hover {
    color: var(--color-hover);
}

footer p {
    margin: 0.5rem 0;
}

footer i {
    margin-right: 8px;
    font-size: 1.2rem;
}
